<a href="https://colab.research.google.com/github/eunjuyummy/The_Arts_Vibrancy_Index/blob/Yujin/BusanManPower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#BusanManPowerTable 만들기
import pandas as pd
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장구', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구','영도구','중구', '해운대구'],
}
# 데이터 프레임 생성
busan_df = pd.DataFrame(data)
busan_df

busan_BusanCultureWorker = pd.read_excel('BusanCultureWorker.xlsx', engine='openpyxl')  #문화종사자
busan_BusanPerformance = pd.read_excel('BusanPerformance.xlsx', engine='openpyxl')#공연인력(공연단체 수)
busan_BusanContentsG = pd.read_excel('BusanContentsG.xlsx', engine='openpyxl')#문화콘텐츠 건수
busan_BusanContentsH = pd.read_excel('BusanContentsH.xlsx', engine='openpyxl')#문화콘텐츠 수
busan_BusanConApplicants= pd.read_excel('BusanConApplicants.xlsx', engine='openpyxl')#부산문예기금 신청자

busan_BusanCultureWorker = busan_BusanCultureWorker.sort_values(by='구', ascending=True)

busan_BusanCultureWorker = busan_BusanCultureWorker.reset_index(drop=True)  # 인덱스 다시 지정
busan_BusanPerformance = busan_BusanPerformance.reset_index(drop=True)
busan_BusanContentsG = busan_BusanContentsG.reset_index(drop=True)
busan_BusanContentsH =busan_BusanContentsH.reset_index(drop=True)
busan_BusanConApplicants =busan_BusanConApplicants.reset_index(drop=True)


busan_df['BusanCultureWorker2021'] =busan_BusanCultureWorker[2021]
busan_df['BusanCultureWorkeAvg'] =busan_BusanCultureWorker['avg']

busan_df['BusanPerformance2021'] =busan_BusanPerformance[2021]
busan_df['BusanPerformanceAvg'] =busan_BusanPerformance['avg']

busan_df['BusanContentsG2021'] =busan_BusanContentsG[2021]
busan_df['BusanContentsGAvg'] =busan_BusanContentsG['avg']

busan_df['BusanContentsH2021'] =busan_BusanContentsH[2021]
busan_df['BusanContentsH2Avg'] =busan_BusanContentsH['avg']

busan_df['BusanConApplicants2022'] =busan_BusanConApplicants[2022]
busan_df['BusanConApplicantsAvg'] =busan_BusanConApplicants['avg']

busan_df.to_csv('art_CreationProduction_Calculate.csv',encoding='utf-8-sig', index=False)
busan_df

,구,BusanCultureWorker2021,BusanCultureWorkeAvg,BusanPerformance2021,BusanPerformanceAvg,BusanContentsG2021,BusanContentsGAvg,BusanContentsH2021,BusanContentsH2Avg,BusanConApplicants2022,BusanConApplicantsAvg
0,강서구,1142,888,250,250,1050,1050,3899,3899,251,251
1,금정구,1641,888,250,250,1050,1050,3899,3899,251,251
2,기장구,1167,888,250,250,1050,1050,3899,3899,251,251
3,남구,884,888,250,250,1050,1050,3899,3899,251,251
4,동구,529,888,250,250,1050,1050,3899,3899,251,251
5,동래구,1096,888,250,250,1050,1050,3899,3899,251,251
6,부산진구,1827,888,250,250,1050,1050,3899,3899,251,251
7,북구,685,888,250,250,1050,1050,3899,3899,251,251
8,사상구,565,888,250,250,1050,1050,3899,3899,251,251
9,사하구,573,888,250,250,1050,1050,3899,3899,251,251
10,서구,348,888,250,250,1050,1050,3899,3899,251,251
11,수영구,461,888,250,250,1050,1050,3899,3899,251,251
12,연제구,635,888,250,250,1050,1050,3899,3899,251,251
13,영도구,317,888,250,250,1050,1050,3899,3899,251,251
14,중구,369,888,250,250,1050,1050,3899,3899,251,251
15,해운대구,1965,888,250,250,1050,1050,3899,3899,251,251

In [ ]:
#BusanManPowerIndex

# 데이터 프레임 생성
busan_df_index = pd.DataFrame(data)
busan_df_index


 #인력 콘텐츠 지수관련

busan_df_index['CultureWorkerIndex']=busan_BusanCultureWorker[2021]/busan_BusanCultureWorker['avg']*100
busan_df_index['PerformanceIndex']=busan_BusanPerformance[2021]/busan_BusanPerformance['avg']*100
busan_df_index['ConApplicantsIndex']=busan_BusanConApplicants[2022]/busan_BusanConApplicants['avg']*100

busan_df_index['ContentsGIndex']=busan_BusanContentsG[2021]/busan_BusanContentsG['avg']*100
busan_df_index['ContentsHIndex']=busan_BusanContentsH[2021]/busan_BusanContentsH['avg']*100


#인력
busan_df_index['ManPowerIndex'] = (
    busan_df_index['CultureWorkerIndex']+busan_df_index['PerformanceIndex']+busan_df_index['ConApplicantsIndex']
)/3

#콘텐츠 지수
busan_df_index['ContentsIndex'] = (
   busan_df_index['ContentsGIndex']+busan_df_index['ContentsHIndex']
)/2
#예술창작/생산지수
busan_df_index['ArtCreationProductionIndex']=(busan_df_index['ContentsIndex']+busan_df_index['ManPowerIndex'])/2

busan_df_index.to_csv('ArtCreationProductionIndex.csv',encoding='utf-8-sig', index=False)
busan_df_index

,구,CultureWorkerIndex,PerformanceIndex,ConApplicantsIndex,ContentsGIndex,ContentsHIndex,ManPowerIndex,ContentsIndex,ArtCreationProductionIndex
0,강서구,128.603604,100.0,100.0,100.0,100.0,109.534535,100.0,104.767267
1,금정구,184.797297,100.0,100.0,100.0,100.0,128.265766,100.0,114.132883
2,기장구,131.418919,100.0,100.0,100.0,100.0,110.472973,100.0,105.236486
3,남구,99.549550,100.0,100.0,100.0,100.0,99.849850,100.0,99.924925
4,동구,59.572072,100.0,100.0,100.0,100.0,86.524024,100.0,93.262012
5,동래구,123.423423,100.0,100.0,100.0,100.0,107.807808,100.0,103.903904
6,부산진구,205.743243,100.0,100.0,100.0,100.0,135.247748,100.0,117.623874
7,북구,77.139640,100.0,100.0,100.0,100.0,92.379880,100.0,96.189940
8,사상구,63.626126,100.0,100.0,100.0,100.0,87.875375,100.0,93.937688
9,사하구,64.527027,100.0,100.0,100.0,100.0,88.175676,100.0,94.087838
10,서구,39.189189,100.0,100.0,100.0,100.0,79.729730,100.0,89.864865
11,수영구,51.914414,100.0,100.0,100.0,100.0,83.971471,100.0,91.985736
12,연제구,71.509009,100.0,100.0,100.0,100.0,90.503003,100.0,95.251502
13,영도구,35.698198,100.0,100.0,100.0,100.0,78.566066,100.0,89.283033
14,중구,41.554054,100.0,100.0,100.0,100.0,80.518018,100.0,90.259009
15,해운대구,221.283784,100.0,100.0,100.0,100.0,140.427928,100.0,120.213964